*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: 'Raleway';
  box-sizing: border-box; }

.wrap {
  min-height: 100vh;
  width: 100%;
  position: relative; }

.main-bg {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1)), url(../img/rally-10.jpg);
  background-size: cover;
  background-position: center; }

.nav {
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
  display: flex;
  padding: 0 4rem;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3));
  z-index: 100; }
  .nav__logo {
    height: 7.5rem;
    display: block;
    margin-right: 2rem; }
    .nav__logo img {
      height: 7.5rem; }
  .nav__list {
    list-style: none;
    display: flex;
    align-items: center; }
  .nav__item {
    text-decoration: none;
    letter-spacing: 4px;
    font-weight: 300;
    padding: 2.5rem 2rem;
    color: #fff;
    font-size: 2rem;
    transition: .3s; }
    .nav__item:hover {
      background-color: rgba(255, 255, 255, 0.4); }
  .nav__social {
    position: relative;
    padding: 2.5rem 0;
    transition: .3s; }
  .nav__social:hover .nav__social-list {
    opacity: 1;
    visibility: visible; }
  .nav__social-list {
    position: absolute;
    width: 100%;
    height: max-content;
    top: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    list-style: none;
    opacity: 0;
    transition: .3s;
    visibility: hidden;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.9); }
  .nav__social-item {
    text-decoration: none;
    color: #fff;
    padding: 1rem 2rem;
    display: block;
    font-family: inherit;
    font-weight: 400;
    font-size: 1.5rem;
    transition: .2s;
    overflow: hidden;
    border-top: 1px solid #111;
    letter-spacing: 1px; }
    .nav__social-item:hover {
      background-color: rgba(255, 255, 255, 0.4); }

.socials {
  position: fixed;
  bottom: 2rem;
  left: 3rem; }
  .socials__icon {
    font-size: 4rem;
    color: #fff; }
    .socials__icon:not(:last-of-type) {
      margin-right: 2rem; }

.portfolio-bg {
  background-color: #111; }

.portfolio__container {
  max-width: 1400px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  padding: 12rem 0 8rem;
  z-index: -2; }

.portfolio__item {
  flex-basis: 30%;
  position: relative;
  box-shadow: 0 0rem 3rem rgba(255, 255, 255, 0.1);
  margin-bottom: 7rem;
  opacity: 0;
  transition: 2s; }
  .portfolio__item:hover {
    box-shadow: none; }
  .portfolio__item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right bottom, #d35602, #ffe402);
    filter: blur(50px);
    opacity: 0;
    transition: .3s; }
  .portfolio__item:hover::before {
    opacity: 1; }

.portfolio__img {
  width: 100%;
  display: block;
  filter: grayscale(100%) brightness(70%);
  transition: .3s;
  border-radius: 3px; }

.portfolio__item:hover .portfolio__img {
  filter: grayscale(0) brightness(100%); }

.portfolio__heading {
  position: absolute;
  top: 60%;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-family: sans-serif;
  text-align: center;
  font-family: 'Open Sans Condensed';
  font-weight: 100;
  letter-spacing: .8rem;
  font-size: 3.5rem;
  padding: .8rem 0;
  opacity: 1;
  transition: .3s; }

.portfolio__item:hover .portfolio__heading {
  opacity: 0; }

.contact-bg {
  background-color: #111; }

.contact {
  max-width: 1400px;
  min-height: 100vh;
  padding: 15rem 0;
  margin: 0 auto;
  display: flex; }
  .contact__content {
    flex-basis: 60%;
    padding: 0 7rem;
    opacity: 0;
    transition: 1.5s; }
  .contact__paragraph {
    margin-bottom: 2.5rem;
    font-size: 1.5rem;
    line-height: 1.65;
    color: #fff;
    font-weight: 300; }
  .contact__form {
    margin-top: 6rem;
    display: flex;
    flex-direction: column; }
  .contact__input {
    width: 35rem;
    padding: 1rem 2rem;
    font-family: 'Raleway';
    border: none;
    color: #fff;
    background-color: #111;
    border-bottom: 2px solid #444;
    overflow: visible;
    display: block;
    font-size: 1.3rem;
    box-shadow: 0 0 1rem #222;
    line-height: 1.5;
    border-radius: 3px; }
    .contact__input:focus {
      outline: none;
      border-bottom: 2px solid yellowgreen; }
    .contact__input:focus:invalid {
      border-bottom: 2px solid orangered; }
    .contact__input::placeholder {
      letter-spacing: 2px;
      transition: .3s; }
  .contact__label {
    font-size: 1.2rem;
    font-family: 'Raleway';
    display: block;
    color: #555;
    margin: 1rem 0 2rem 2rem;
    letter-spacing: 1px;
    font-weight: 700;
    transition: .3s; }
  .contact__input:placeholder-shown + .contact__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-3.5rem); }
  .contact__btn {
    font-family: inherit;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.75rem;
    letter-spacing: 1px;
    width: 20rem;
    padding: 1rem 3rem;
    color: #fff;
    background-color: #111;
    border: 1px solid #fff;
    border-radius: 3px;
    margin-top: 2rem;
    transition: .3s;
    cursor: pointer; }
    .contact__btn:hover {
      letter-spacing: 3px; }
    .contact__btn:focus {
      outline: none; }
  .contact__photo {
    margin-top: 2rem;
    margin-right: 2rem;
    flex-basis: 40%;
    overflow: hidden;
    height: 24rem; }
    .contact__photo-img {
      width: 100%;
      opacity: 0;
      transition: transform .3s, filter .3s, opacity 2s;
      filter: brightness(85%); }
      .contact__photo-img:hover {
        transform: scale(1.05);
        filter: brightness(100%); }

.nav__social:hover * .contact__paragraph {
  color: red; }

.gallery-bg {
  background-color: #111; }

.gallery__container {
  max-width: 1400px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  padding: 15rem 0 8rem; }

.gallery__item {
  flex-basis: 44%;
  overflow: hidden;
  margin-bottom: 5rem;
  border-radius: 4px; }

.gallery__img {
  width: 100%;
  display: block;
  opacity: 0;
  filter: brightness(85%) grayscale(20%);
  transition: transform .7s, filter .7s, opacity 1.5s; }
  .gallery__img:hover {
    transform: scale(1.07);
    filter: brightness(100%) grayscale(0); }
