.gallery-rally-bg{
    background-color: #111;
}

.gallery-rally__container{
    max-width: 1400px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    padding: 15rem 0 8rem;
} 

.gallery-rally__item{
    flex-basis: 44%;
    overflow: hidden;
    margin-bottom: 5rem;
    
}

.gallery-rally__img{
    width: 100%;
    display: block;
    transition: .5s;

    &:hover{
        transform: scale(1.07);
    }
}