.wrap{
    min-height: 100vh;
    width: 100%;
    position: relative;
}

.main-bg{
    background-image: linear-gradient(to right bottom, rgba(#000, .7), rgba(#000, .1)) ,url(../img/rally-10.jpg);
    background-size: cover;
    background-position: center;
}

.nav{
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    display: flex;
    padding: 0 4rem;
    background-image: linear-gradient(to right, rgba(#fff, .1), rgba(#fff, .3));
    z-index: 100;

    &__logo{
        height: 8rem;
        display: block;
        margin-right: 2rem;

        img{
            height: 8rem;
        }
    }

    &__list{
        list-style: none;
        display: flex;
        align-items: center;
    }

    &__item{
        text-decoration: none;
        letter-spacing: 4px;
        font-weight: 300;
        padding: 2.5rem 2rem;
        color: #fff;
        font-size: 2.5rem;
        transition: .3s;
        
        &:hover {
            background-color: rgba(#fff, .4);
        }
    }

    &__social{
        position: relative;
        padding: 2.5rem 0;
        transition: .3s;
    }

    &__social:hover &__social-list{
        opacity: 1;
        visibility: visible;
    }

    &__social-list{
        position: absolute;
        width: 100%;
        height: max-content;
        top:100%;
        background-color: rgba(#fff, .2);
        list-style: none;
        opacity: 0;
        transition: .3s;
        visibility: hidden;
        box-shadow: 0 2rem 4rem rgba(#000, .9);
    }

    &__social-item{
        text-decoration: none;
        color: #fff;
        padding: 1rem 2rem;
        display: block;
        font-family: inherit;
        font-weight: 400;
        font-size: 1.5rem;
        transition: .2s;
        overflow: hidden;
        border-top: 1px solid #111;
        letter-spacing: 1px;

        &:hover{
            background-color: rgba(#fff, .4);
        }
    }
}

.socials{
    position: fixed;
    bottom: 2rem;
    left: 3rem;

    &__icon{
        font-size: 4rem;
        color: #fff;

        &:not(:last-of-type){
            margin-right: 2rem;
        }
    }
}